

body{
    box-sizing: border-box
    margin: 0;
    background-color: blanchedalmond;
}

.full-page{
    width: 100%;
    padding: 2rem;
    height: 100%;
    display: grid;
    align-items: center;

}

.my-title{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.info-title{
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.info-body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 1rem 10rem;
}

.image-caption{
    text-align: center;

}
.my-image{
    
    text-align: center;
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
   
}


