


.my-title{
    font-family: 'Playfair Display', serif;
    /* font-family: 'Ubuntu Mono' !important; */
}

.info-title{
    font-family: 'Playfair Display', serif;
}

.info-body{
    font-family: 'Roboto', sans-serif;}

.my-image{
    
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
   
}


